<section class="add-restaurant">
  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <h3>Edit a restaurant</h3>
  <form action="/restaurants/<%= @restaurant.id %>" method="POST">
    <input type="hidden" name="_method" value="put"><br>
    <label for="name">Name:</label>
    <input type="text" name="restaurant[name]" value="<%= @restaurant.name %>"><br>
    <label for ="location">Location:</label>
    <input type="text" name="restaurant[location]" value="<%= @restaurant.location %>"><br>
    <label for="cuisine">Cuisine:</label>
    <input type="text" name="restaurant[cuisine]" value="<%= @restaurant.cuisine %>">
    <input type="submit" value="Edit">
  </form>
</section>
